<!doctype HTML>
<html>
<head>

    <title>Connect To Room</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">


        <center><h1 id="website-label" style="font-size: 72px;">Connect To Room</h1></center>


        <div class="row">
            <div class="input-group mb-3 col-12">
                <input type="text" class="form-control" placeholder="Room Code" id="code-input">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="send-button" onclick="window.location.href = '/room/connect/' + getElementById('code-input').value">Connect</button>
                </div>
            </div>
        </div>


    </div>
</body>
</html>