<!doctype HTML>
<html>

<head>

    <title>Connect to room</title>


</head>

<body>

    <h1>Connect</h1>

    <form method="post" action="">

        <label for="username">Code: </label>
        <input type="text" name="username" id="username" />
        <input type="submit" value="Connect" />

    </form>

    <script type="application/json">

        

    </script>

</body>

</html>