<!doctype HTML>
<html>
<head>

    <title>Contact</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        
        <center><h1 id="website-label" style="font-size: 72px;">Contact</h1></center>

        <div class="row">

            <div class="col-12">
               

                <form action="/contact" method="post">

                    <div class="form-group">
                        <label>Message: </label>
                        <textarea class="form-control col-12" name="message" id="message" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="col-3 offset-9">Send</button>

                </form>


            </div>

    </div>
</body>
</html>