<!doctype HTML>
<html>

<head>

    <title>Join room</title>


</head>

<body>

    <h1>Join room</h1>

    <form method="post" action="">

        <label for="username">Username: </label>
        <input type="text" name="username" id="username"/>
        <input type="submit" value="join"/>

    </form>

</body>

</html>