<!doctype HTML>
<html>
<head>

    <title>Room</title>

    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>

    <script src="/js/socket.io.js" type="text/javascript"></script>

    <script src="/js/connections.js" type="text/javascript"></script>

    <script src="/js/chat.js" type="text/javascript"></script>
    <script src="/js/user.js" type="text/javascript"></script>
    <script src="/js/game.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/css/room.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />


    <script src="/js/bootstrap.min.js"></script>

</head>
<body>

    <input type="hidden" value="{{{name}}}" id="username" />
    <input type="hidden" value="{{{code}}}" id="code" />


    <div class="container-fluid">

        <div class="row">


            <div class="col-9" id="intermission-container">

                <center><h2>PLAYERS</h2></center>

                <table class="table table-bordered">

                    <thead>

                        <tr>

                            <th scope="col">#</th>
                            <th scope="col">NAME</th>
                            <th scope="col">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="ready-box">READY</label>
                                    <input type="checkbox" class="form-check-input" id="ready">

                                </div>
                            </th>

                        </tr>

                    </thead>
                    <tbody id="users">

                    </tbody>

                </table>

                <div class="col-12 alert alert-primary">
                    <h4 class="alert-heading">Invite Friends</h4>
                    <hr />
                    <p style="margin-bottom: 0;">Send the URL</p>
                    <span><strong>OR</strong></span>
                    <p>Send the code: {{{code}}}</p>

                </div>

            </div>

            <div id="game-container" class="col-9">

                <center><h2>PLAYERS</h2></center>

                <div class="overflow-auto" id="leaderboard-container">

                    <table class="table table-bordered">

                        <thead>

                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">NAME</th>
                                <th scope="col">CORRECT</th>

                            </tr>

                        </thead>
                        <tbody id="leaderboard">

                            

                        </tbody>

                    </table>

                </div>

                <div id="question-container">

                    <center><h2 id="question">What is 3x3?</h2></center>

                    <div id="input-container">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Answer" id="answer">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="answer-button">Answer</button>
                            </div>
                        </div>
                    </div>

                    <div id="alternatives-container">
                        <div class="btn-group col-12" id="alternatives">
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-3" id="chat-container">

                <center><h2>CHAT</h2></center>

                <div class="row overflow-auto" id="chat-window">

                    <ul id="chat" class="col-12">


                    </ul>

                </div>

                <div class="row">


                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Message" id="message-input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="send-button">Send</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </div>


</body>
</html>