#chat-window {
    border: solid 2px #dee2e6;
    margin-bottom: 10px;
    height: 700px;
}

#chat {

    padding: 1px;

    list-style-type: none;
    height: 100%;
}

#ready {

    margin-left: 10px;

}

#leaderboard-container {

    margin-bottom: 10px;
    height: 350px;

}

#question {
    
    font-size: 3.5vw;

    margin-top: 100px;
    margin-bottom: 160px;

    line-height: 100px;

}